<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../assets/css/style.css">
        <title>Aloma Silva</title>
    </head>
    <body>
        <header>
            <section class="header-sect">
                <nav class="navbar fixed-top">
                    <div class="container p-3 sticky-top">
                        <img class="img-fluid" src="../assets/images/Captura de tela 2023-11-06 173325.png" alt="logo">
                        
                        <!-- Button trigger modal -->
                        <button type="button" class="header-btn btn rounded-pill text-light p-3 px-4" data-toggle="modal" data-target="#exampleModalCenter">
                            Agendar uma consulta
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                ...
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </section>
        </header>

        <main>
            
            <section class="first-sect d-flex align-items-center bg-secondary">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-lg-6 col-md d-flex align-items-center">
                            <h1 class="h1 text-start pb-4">Atenção mulher! <br>
                                Cuide já da sua saúde <br> íntima e da sua autoestima <br> com uma ginecologia preventiva e integrativa</h1>
                        </div>
                        <div class="imagem rounded col-12 col-lg-6 d-flex justify-content-center">
                            <img class="img-fluid p-2 rounded" src="../assets/images/600x700.jpg" alt="Imagem mulher">
                        </div>
                    </div>
                </div>   
            </section>

            <section class="card-sect d-flex align-items-center py-5">
                <div class="container py-5 px-0">
                    <div class="d-flex flex-wrap d-flex justify-content-center mt-5">
                        <div class="card white-card m-1 border-0">
                            <div class="card-body">
                                <i></i>
                                <article>
                                    <p><strong>Estética Íntima</strong> com Laser Genital, Clareamento e Preenchimento</p>
                                </article>
                            </div>
                        </div>

                        <div class="card white-card m-1 border-0">
                            <div class="card-body">
                                <i></i>
                                <article>
                                    <p><strong>Reposição Hormonal</strong> e Desequilíbrios Hormonais</p>
                                </article>
                            </div>
                        </div>

                        <div class="card white-card m-1 border-0">
                            <div class="card-body">
                                <i></i>
                                <article>
                                   <p><strong>Anticoncepção</strong> com inserção de DIU e Implanon</p>
                                </article>
                            </div>
                        </div>

                        <div class="card white-card m-1 border-0">
                            <div class="card-body">
                                <i></i>
                                <article>
                                    <p>Síndrome dos <strong>Ovários Policísticos</strong></p>
                                </article>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-wrap d-flex justify-content-center">
                        <div class="card white-card m-1 border-0">
                            <div class="card-body">
                                <i></i>
                                <article>
                                    <p>Avaliação e acompanhamento <strong>Pré-Gestacional</strong></p>
                                </article>
                            </div>
                        </div>

                        <div class="card white-card m-1 border-0">
                            <div class="card-body">
                                <i></i>
                                <article>
                                    <p><strong>Emagrecimento</strong></p>
                                </article>
                            </div>
                        </div>

                        <div class="card white-card m-1 border-0">
                            <div class="card-body">
                                <i></i>
                                <article>
                                    <p><strong>Implante Hormonal</strong></p>
                                </article>
                            </div>
                        </div>

                        <div class="card telefone m-1 border-0">
                            <div class="card-body">
                                <i></i>
                                <article>
                                    <p><strong>(85) 99183-0635</strong></p>
                                    <p><strong>Fale agora</strong> com minha atendente.</p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
             
            <section class="sobre-sect">
                <div class="container pt-5">
                    <div class="row pt-5">
                        <div class="col-12 col-md-6 mb-0">
                            <h2 class="h2 quem-sou mb-0">
                                Quem sou eu
                            </h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <article class="article-quem-sou pt-5">
                                <p class="pa-um"><strong>
                                    Sou médica formada pela Universidade Federal do Ceará - 
                                    UFC</strong> com Residência Médica em Ginecologia/ Obstetrícia pela
                                     Maternidade Escola Assis Chateaubriand- UFC! 
                                </p>
                                <p class="pa-dois">
                                    Tenho muito amor a essa especialidade. Amo cuidar das mulheres, desde a primeira menstruação 
                                    até a fase do preparo e cuidado para um envelhecimento saudável.
                                </p>
                                <p class="pa-tres">
                                    Procuro acompanhar as minhas 
                                    pacientes desde o início da vida reprodutiva, ao preparo para a maternidade. Assim como 
                                    acompanho o período da menopausa, fase onde a mulher precisa de cuidados e uma prevenção para 
                                    um envelhecimento saudável.
                                </p>

                                <p class="pa-quatro"><strong>
                                    A ginecologia deve cuidar das mulheres de forma integrativa, 
                                    buscando o equilíbrio físico, mental e emocional proporcionando uma boa 
                                    qualidade de vida.
                                </strong>
                                </p>

                            </article>
                        </div>

                        <div class="carousel-sobre col-12 col-lg-6">
                            
                            <div id="carouselSecaoSobre" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                  <li data-target="#carouselSecaoSobre" data-slide-to="0" class="active"></li>
                                  <li data-target="#carouselSecaoSobre" data-slide-to="1"></li>
                                  <li data-target="#carouselSecaoSobre" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img class="img-fluid " src="../assets/images/1000x500.jpg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="img-fluid" src="../assets/images/1000x500.jpg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="img-fluid" src="../assets/images/1000x500.jpg" class="d-block w-100" alt="...">
                                  </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselSecaoSobre" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true">
                                        <i>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="p-1 bi bi-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            </svg>
                                        </i>
                                    </span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselSecaoSobre" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Next</span>
                                </a>
                            </div>
                       
                        </div>
                        
                    </div>

                    <div class="row my-3">
                        <div class="borda col-6 col-lg-3">
                            <h2 class="info h2">+4000</h2>
                            <p class="pacientes">pacientes atendidas</p>
                        </div>
                        <div class="col-6 col-lg-3">
                            <h2 class="info h2">10 anos</h2>
                            <p class="pacientes">de experiência</p>
                        </div>
                    </div>
                    <div class="row pt-0 mt-3">
                        <div class="col">
                            <button class="btn rounded-pill text-light mb-5 ">Quero marcar uma consulta</button>
                        </div>
                    </div>
                </div>
            </section>

            <section class="video-sect">
                <div class="container">
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <h2 class="dica-video h2 my-5">Separei uma dica rápida para você. <br> Aperte o play!</h2>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">

                        <button type="button" class="video-thumb btn border-rounded shadow-lg" data-toggle="modal" data-target=".bd-example-modal-xl">
                            <img class="img-fluid" src="" alt="">Video
                        </button>

                        <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                              <div class="modal-body embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/-IvN2SpPaFM?si=zkPHPmrEWX2vIwZa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="dep-sect">
                <div class="container">
                    <div class="row my-5">
                        <div class="col d-flex justify-content-center">
                            <h2 class="h2 py-5 mt-5 border-bottom">Depoimentos</h2>
                        </div>
                    </div>

                    <div class="row pb-5 d-flex justify-content-center">

                        <div id="depoimentosAloma" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#depoimentosAloma" data-slide-to="0" class="active"></li>
                              <li data-target="#depoimentosAloma" data-slide-to="1"></li>
                              <li data-target="#depoimentosAloma" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="..." class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="..." class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="..." class="d-block w-100" alt="...">
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#depoimentosAloma" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#depoimentosAloma" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>

                    </div>
                </div>
            </section>

            <section class="local-sect  d-flex align-items-center py-5">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-12 col-lg-6">
                            <!--ICON-->
                            <h2 class="h2">
                                Atendimentos exclusivamente na clínica lifetime
                            </h2>
                        </div>
                        <div class="col-12 col-lg-6">
                            <article class="art-s-local">
                                <p>“Sempre tive um sonho de ter um espaço acolhedor e 
                                    humanizado totalmente voltado para saúde feminina.
                                    A Lifetime veio com esse propósito associada à 
                                    estrutura de ponta e profissionais altamente qualificados”
                                </p>
                            </article>
                                
                            <article class="art-local">
                                <p>
                                    <strong>Aloma Silva,</strong> Médica e Diretora da Lifetime.
                                </p>
                            </article>
                        </div>

                    </div>
                   
                    <div class="row d-flex justify-content-center">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="" class="img-fluid rounded" alt="...">
                                <img src="" class="img-fluid rounded" alt="...">
                                <img src="" class="img-fluid rounded" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="" class="img-fluid rounded" alt="...">
                                <img src="" class="img-fluid rounded" alt="...">
                                <img src="" class="img-fluid rounded" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="" class="img-fluid rounded" alt="...">
                                <img src="" class="img-fluid rounded" alt="...">
                                <img src="" class="img-fluid rounded" alt="...">
                                
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                  
                    </div>
                </div>
            </section>
            
            <section class="cad-sect py-5">
                <div class="cadastro">
                    <div class="container">
                        
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <h2 class="cad-h2 h2 border-bottom pb-5">
                                    Entre em contato conosco
                                </h2>
                            </div>
                        </div>
                        <div class="row pt-5 d-flex justify-content-center">
                            <div class="cad-input col-11 col-md-4 col-sm-5">
                                <label for="">Nome</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>

                            <div class="cad-input col-11 col-md-4 col-sm-5 ">
                                <label for="">Sobrenome</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>

                        <div class="row pt-2 d-flex justify-content-center">
                            <div class="cad-input col-11 col-md-4 col-sm-5 ">
                                <label for="">Telefone</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>

                            <div class="cad-input col-11 col-md-4 col-sm-5">
                                <label for="">E-mail</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        
                        <div class="row d-flex justify-content-around py-3">
                            <div class="col-11 col-md-8">
                                <label for="">Mensagem</label>
                                <div class="input-group">
                                    
                                    <textarea class="msg-area  form-control" aria-label="With textarea"></textarea>
                                </div>
                            </div>
                            
                        </div>

                        <div class="row my-5">
                            <div class="col d-flex justify-content-center">
                                <button class="cad-botao btn rounded-pill">
                                    Enviar Mensagem
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="p-1 bi bi-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    </svg>
                                
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <section class="footer d-flex align-items-center py-4">
                <div class="container">
                    <div class="row">

                        <div class="f-logo col-12 col-lg-3 col-sm-12 d-flex justify-content-center">
                                <img class="img-fluid m-2" src="../assets/images/Captura de tela 2023-11-06 173325.png" alt="logo">
                        </div>
                        <div class="f-endereco col-12 col-lg-4 col-sm-4 my-2">
                            <ul>
                                <li class="footer-info mb-1">
                                    <strong>Dra. Aloma Silva <br> </strong> CRM 10243 | RQE 5518
                                </li>
                                <li class="footer-info">
                                    <strong>Endereço:</strong> Rua Isac Amaral, 190 - Dionísio Torres, <br> Fortaleza - CE, 60135-232.
                                </li>
                               
                            </ul>
                        </div>
                        <div class="f-redes col-12 col-lg-3 col-sm-4 my-2">
                            <article class="">
                                <p><strong>Dê uma conferida também:</strong></p>
                            </article>
                            <div class="icons-redes d-flex justify-content-around">
                                <i class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    </svg>
                                </i>
                                <i class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    </svg>
                                </i>
                                <i class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    </svg>
                                </i>
                            </div>
                        </div>
                        <div class="col-12 col-lg-2 col-sm-4 my-3">
                            <img class=" img-fluid" src="" alt="Doctoralia">
                        </div>
                        

                    </div>
                </div>
            </section>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>