@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300&display=swap');

/* ---------------------- HEADER  --------------  */

.header-btn{
    
    background-color: #FF77A5;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* ---------------------- PRIMEIRA SEÇÃO  --------------  */


.first-sect{
    padding-top: 110px;
    background: #ffffff;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,236,245,1) 53%, rgba(255,198,217,1) 100%);
}

h1,.titulo{
    color: #B14169;
    font-family: 'Abril Fatface', serif;
}

h2,.h2{
    color: #B14169;
    font-family: 'Abril Fatface', serif;
}

.banner-intro{
    margin-bottom: -50px;
}

    /* --------- MEDIA QUERY -----------*/

@media (max-width: 768px){
    .titulo{
        text-align: center;
        margin-top: 40px;
    }

    .cont-header{
        display: flex;

    }

    .banner-intro{
        margin-bottom: 10px;
    }
} 

@media (max-width:425px){
    .titulo{
        font-size: 24px;
    }


}

/* ---------------------- SEÇÃO CARDS  --------------  */

.card-sect{
    background-color: #FFF5F3;
}

.white-card{
    width: 275px;
    font-size: 18px;
    color: #717171;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
    cursor: pointer;
    transition: ease-in-out 0.1s;
}
.white-card:hover{
    box-shadow: 7px 10px 27px -8px rgba(249,213,208,0.54);
    -webkit-box-shadow: 7px 10px 27px -8px rgba(249,213,208,0.54);
    -moz-box-shadow: 7px 10px 27px -8px rgba(249,213,208,0.54);
}

.telefone{
    width: 275px;
    /* height: 247px; */
    background-color: #FF77A5;
    font-family: 'Montserrat', sans-serif;
    color: white;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.telefone:hover{
    box-shadow: 10px 17px 70px -19px rgba(255,119,165,1);
    -webkit-box-shadow: 10px 17px 70px -19px rgba(255,119,165,1);
    -moz-box-shadow: 10px 17px 70px -19px rgba(255,119,165,1);
}

/* ----------------------  SEÇÃO SOBRE  --------------  */

.article-quem-sou{
    font-size: 18px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    max-width: 890px;
}
.quem-sou{
    color: #B14169;
    font-weight: 400;
    font-family: 'Abril Fatface', serif;

}

.borda{
    border-right: #F9D5D0 solid 1px;
    font-size: 18px;
}

.info{
    color: #FF77A5;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.pacientes{
    font-family: 'Montserrat', sans-serif;
}

.btn-consulta{
    background-color: #B14169;
}

@media (max-width: 425px){
    .article-quem-sou,.pacientes,.btn-consulta{
        font-size: 14px;
        
        max-width: 395px;
    }

    .quem-sou,.info{
        font-size: 24px;
        
    }


}

@media (max-width:576px){
    .botao{
        display: flex;
        justify-content: center;
        font-size: 12px;
    }


}

/* ---------------------- SEÇÃO VIDEO  --------------  */

.video-sect{
    background: #fff;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,236,245,1) 53%, rgba(255,198,217,1) 100%);

}

.video-thumb{
    border: none;
    margin-bottom: -7%;
}


@media  (max-width:445px){
    .dica-video{
        font-size: 24px;
    }
    
}

/* ---------------------- SEÇAO DEPOIMENTOS  --------------  */

.art-dep{
    max-width: 900px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.linha{
    border: #FF77A5 solid 1px;
}

@media (max-width:445px){

    .h2-dep{
        font-size: 24px;
    }

    .art-dep{
        font-size: 14px;
        max-width: 350px;
    }
}
/* --------------------------- SEÇÃO LOCAL DE ATENDIMENTO ---------------------*/

.local-sect{
    height: 794px;
    background-color: #fff5f3;
}

.art-s-local{
    max-width: 500px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #717171;
}

.art-local{
    font-size: 16px;
    color: #717171;
}

/* ---- mudar icon ---*/ 

.icon-atend{
    width: 100px;
    height: 100px;
}

/* ------------- MEDIA QUERY --------------*/

@media (max-width: 991px){

    .articles-atend{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }

}

@media (max-width:425px){
    .art-local,.art-s-local{
        font-size: 14px;
    }

    .h2-atend{
        font-size: 24px;
    }

}

/* ---------------------- SEÇAO CADASTRO  --------------  */

.cad-sect{
    background: rgb(255,140,179);
    background: radial-gradient(circle, rgba(255,140,179,1) 0%, rgba(248,115,161,1) 18%, rgba(255,60,128,1) 92%);
    color: #ffffff;
}

.cad-h2{
    color: #ffffff;
}

.cadastro{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.cad-botao{
    width: 259px;
    height: 56px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    background-color: #B14169;
}

.msg-area{
    height: 150px;
}

.cad-botao:hover{
    color: white;
}

/* ------------MEDIA QUERY ----------------*/
@media (max-width: 567px){
    .cad-h2{
        text-align: center;
    }
}

@media (max-width: 425px) and (min-width: 90px){
    .cad-h2{
        font-size: 24px;
    }
}

/*-------------------- FOOTER ------------------*/

.footer-info{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.f-endereco,.f-redes{
    color: #717171;
}
